{% extends 'iiceditor/base.html' %}
{% block content %}


    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/">{{ gateway.name }} </a> </li>
{#        <li class="breadcrumb-item active"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/">Page Groups</a>#}
        <li class="breadcrumb-item active">Page Groups</li>


    </ol>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/iic/pagegroup/add/?_to_field=id&_popup=1" target="_blank">Add Page Group</a></li>
        <li class="breadcrumb-item"><a href="/admin/iic/page/add/?_to_field=id&_popup=1" target="_blank">Add Page</a></li>
        <li class="breadcrumb-item"><a href="/admin/iic/pageinputgroup/add/?_to_field=id&_popup=1" target="_blank">Add Page Input Group</a></li>
        <li class="breadcrumb-item"><a href="/admin/iic/pageinput/add/?_to_field=id&_popup=1" target="_blank">Add Page Input</a></li>
    </ol>

    
    <ul>
        {% for page_group in page_groups %}

            <li>
                <a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/{{ service }}/page_groups/{{ page_group.pk }}/">{{ page_group }}</a>
                <a href="/admin/iic/pagegroup/{{ page_group.pk }}/change/" target="_blank">Edit</a>
            </li>
        {% empty %}
            <li>No items</li>
        {% endfor %}


    </ul>
{% endblock %}